.header{
   position: absolute;
   left: 0;
   top: 0;
   z-index: 99;
   display: flex;
   align-items: center;
   width: 100%;
   height: 42px;
   padding: 0 5px;
   font-size: $font-size-large;
   color: #fff;
   background-color: transparent;
   i{
      margin-right: 5px;
      font-size: $font-size-max;
      font-weight: 700;
   }
}