.list-item{
  display: flex;
  align-items: center;
  .index{
    padding-right: 10px;
    font-size: $font-size-normal;
    color: $color-light-gray;
    &.top{
      color: $color-red;
    }
  }
  .content{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid $color-deep-white;;
    .song-info{
      flex: 1;
      .name{
        font-size: $font-size-normal;
        line-height: 1.6;
      
      }
      .singer{
        font-size: $font-size-mini;
        line-height: 1.5;
        color: $color-light-gray;
      }
    }
    .play-btn{
      padding: 0 10px;
      i{
        font-size: $font-size-bigger;
        color: $color-light-gray;
      }
    }
  }
  
  &:last-of-type{
    .content{
      border-bottom: none;
    }
  }
}