.scroll-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .pulldown-loading{
    position: absolute;
    top: 5px;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
  }
  .pullup-loading{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
  }
}