.loading-wrap{
  display: flex;
  align-items: center;
  .line-group{
    display: flex;
    align-items: center;
    margin-right: 2px;
    .line{
      margin-right: 2px;
      width: 1px;
      height: 10px;
      background-color: $color-red;
      animation: move 0.8s infinite ease-in;
    }
    .line:nth-child(2) {
      animation-delay: 0.2s;
    }
    .line:nth-child(3) {
      animation-delay: 0.4s;
    }
    .line:nth-child(4) {
      animation-delay: 0.6s;
    }
  }
  .loading-text{
    font-size: $font-size-mini;
    color: $color-light-gray;
  }
  @keyframes move {
    0% {
      height: 10px;
    }
    50% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  } 
}