.album-wrapper{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: #fcfcfc;
  &:global(.fly-enter), &:global(.fly-appear){
    transform: translate3d(100%, 0, 0);
  }
  &:global(.fly-enter-active), &:global(.fly-appear-active){
    transition: transform .3s;
    transform: translate3d(0, 0, 0);
  }
  &:global(.fly-exit-active){
    transition: transform .3s;
    transform: translate3d(100%, 0, 0);
  }
}


