.global-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  .list-item{
    margin-right: 0.99%;
    margin-bottom: 5px;
    width: 32.67%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}