.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: $color-red;
  .title{
    color: $color-deep-white;
    font-size: $font-size-bigger;
  }
  .menu,.search{
    width: 50px;
    text-align: center;
    color: $color-deep-white;
    i{
      font-size: $font-size-max;
    }
  }
}