.carousel{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  &::before{
    content: '';
    position: absolute;
    top: -320px;
    height: 400px;
    width: 100%;
    background: $color-red;
  }
  .swiper-container {
    width: 98%;
    height: 150px;
    margin: auto;
    border-radius: 6px;
    --swiper-theme-color: #D44439;
    .slider-item{
      width: 100%;
      height: 100%;
    }
  }
}
