.song-list{
  .list-item{
    display: flex;
    align-items: center;
    padding: 10px 0;
    .play-icon{
      width: 12px;
      margin-right: 6px;
      font-size: $font-size-mini;
      color: $color-red;
      i{
        font-size: $font-size-mini;
      }
    }
    .song-info{
      flex: 1;
      color: $color-gold;
    }
    .delete{
      margin-left: 10px;
      color:$color-red;
      i{
        font-size: $font-size-default;
      }
    }
  }
}