.hot-search{
  padding: 30px 0;
  .title{
    padding: 0 20px;
    color: $color-gold;
  }
  .list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    .list-item{
      margin: 12px 0 0 20px;
      padding: 2px 10px;
      background-color: #fff;
      border-radius: 8px;
      &:active{
        background-color: rgba(238, 238, 238, 0.2);
      }
    }
  }
}