.hot-search{
  padding: 30px 0;
  .title{
    padding: 0 20px;
    color: #BBA8A8;
  }
  .list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    .list-item{
      margin: 12px 0 0 20px;
      padding: 2px 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 1px 1px 1px 1px rgba($color: #999, $alpha: 0.1);
      &:active{
        background-color: rgba(238, 238, 238, 0.2);
      }
    }
  }
}