.background{
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: .6;
   z-index: -1;
   background: #2E3030;
   filter: blur(20px);
   .layer{
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.5;
   }
}