.lyric-wrapper{
  flex: 1;
  overflow: hidden;
  .lyric-list{
    text-align: center;
    .lyric-item{
      padding: 6px 0;
      font-size: 16px;
      color: #bbb;
      &.highlight{
        color: #fff;
      }
    }
    .no-lyric{
      margin-top: 100px;
      color: #fff;
    }
  }
}