.lyric-wrap{
  flex: 1;
  padding-top: 10px;
  overflow: hidden;
  .lyric-list{
    padding: 0 35px;
    text-align: center;
    .lyric-item{
      padding: 6px 0;
      font-size: $font-size-normal;
      color: rgba($color: #fff, $alpha: 0.5);
      &.highlight{
        color: #fff;
      }
    }
    .no-lyric{
      margin-top: 100px;
      color: #fff;
    }
  }
}