$color-default: #333;
$color-red: #D44439;
$color-gray: #666;
$color-light-gray: #999;
$color-deep-white: #E4E4E4;
$color-gold: #BBA8A8;

$font-size-default: 14px;
$font-size-max: 24px;
$font-size-bigger: 20px;
$font-size-large: 18px;
$font-size-normal: 16px;
$font-size-mini: 12px;